<div class="container">
  <div class="top-section">
    <div class="info-section">
      <h2>About Me</h2>
      <p>
        Hello, welcome to my page! My name is James, and I am a passionate software, automation, and cloud engineer. A little about me is I have three dogs, a fiancé and I love to travel.
        Below you can find a couple of cool pictures of me on my travels. I currently live in Charlotte, NC. If you want to contact me please select the Contact Me button at the top of the page.
      </p>
    </div>
    <div class="profile-pic-container">
      <img class="profile-pic" src="assets/pictures/ProfilePic.jpg" alt="Profile Picture"/>
    </div>
  </div>
</div>
<div>
    <div class="pictures-container">
      <div>
        <img class="pictures" src="assets/pictures/Brindles.jpeg" />
      </div>
      <div>
        <img class="pictures" src="assets/pictures/Colosseum.jpeg" />
      </div>
      <div>
        <img class="pictures" src="assets/pictures/ParaGliding.jpeg" />
      </div>
      <div>
        <img class="pictures" src="assets/pictures/Rome.jpeg" />
      </div>
      <div>
        <img class="pictures" src="assets/pictures/UnderWater.jpeg" />
      </div>
    </div>    
</div>